<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="acton_calculator" id="acton_calculator">
			<module before="Magento_Backend" name="Acton_Calculator"/>
		</route>
		<route frontName="acton" id="acton">
			<module before="Magento_Backend" name="Acton_Calculator"/>
		</route>
	</router>
</config>
